h1 {
  color: #3e5358;
}
.maintab{
  display: flex;
  list-style: none;
  margin: 0;
  border-bottom: 5px solid #1495b5;
  padding: 0;
  position: relative;
}

.maintab > li{
   margin: 0 8px 0 0;
   border-radius: 6px 6px 0px 0px;
   padding: 20px 20px;
   background: #d9dfe1;
   font-size: 100%;
}

.maintab > li:hover{
  background: #1495b5;
  font-size: 120%;
}
.maintab > li.select{
  border: 3px solid #1495b5;
  font-size: 120%;
}
.main{
  list-style: none;
  margin: 0;
}

.main >li {
  display: none;
}
.main >li.select {
  display: block;
}
